/*custom font*/
@import url(http://fonts.googleapis.com/css?family=Montserrat);

/*basic reset*/
* {margin: 0; padding: 0;}

html {
	height: 100%;
	/*Image only BG fallback*/
	background: #EFEFEF;
	/*background = gradient + image pattern combo*/
	/*background:
		linear-gradient(rgba(196, 102, 0, 0.2), rgba(155, 89, 182, 0.2)),
		url('http://thecodeplayer.com/uploads/media/gs.png');*/
}

body {
	font-family: montserrat, arial, verdana;
  background: #EFEFEF;
  /*background = gradient + image pattern combo*/

}
/*form styles*/
#msform, #oligoForm {

	width: 100%;
	margin: 10% 0 5% -2.8%;
	text-align: center;
	position: relative;
}

#msform fieldset, #oligoForm fieldset {
	background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;

	box-sizing: border-box;
	margin: 0 0;
	display: inline-block;

	/*stacking fieldsets above each other*/
	/*position: absolute;*/
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type), #oligoForm fieldset:not(:first-of-type) {
	display: none;
}
/*inputs*/
#msform input, #msform textarea, #oligoForm input, #oligoForm textarea {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
	font-size: 13px;
}
/*buttons*/
#msform .action-button, #oligoForm .action-button{
	width: 150px;
	background: #27AE60;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
}
#msform .action-button:hover, #msform .action-button:focus, #oligoForm .action-button:hover, #oligoForm .action-button:focus  {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}
/*headings*/
.fs-title {
	font-size: 1.5em;
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 10px;
}
.fs-subtitle {
	font-weight: normal;
	font-size: 1.3em;
	color: #666;
	margin-bottom: 20px;
}
/*progressbar*/
#progressbar, #oligoProgressbar{
	width: 100%;
	margin-bottom: 30px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;

}
#progressbar li, #oligoProgressbar li {
	list-style-type: none;
	color: black;
	text-transform: uppercase;
	font-size: 9px;
	width: 33%;
	float: left;
	position: relative;
}
#progressbar li:before, #oligoProgressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 20%;
	line-height: 20px;
	display: block;
	font-size: 1.3em;
	color: #333;
	background: white;
	border-radius: 3px;
	margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after, #oligoProgressbar li:after {
	content: '';
	width: 80%;
	height: 2px;
	background: white;
	position: absolute;
	left: -40%;
	top: 9px;
	z-index: 0; /*put it behind the numbers*/
}
#progressbar li:first-child:after, #oligoProgressbar li:first-child:after{
	/*connector not needed before the first step*/
	content: none;
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after, #oligoProgressbar li.active:before,  #oligoProgressbar li.active:after{
	background: #27AE60;
	color: white;
}

#rzDesign, #oligoOrder{
	position: relative;
}

#inProcessPage {
	position: relative;
	margin-top: 5%;
}

.progress .bar {
	height: 100%;
	background-color: skyblue;
}