
.result_container {
  padding: 50px;
}
.sequence_col {
  max-width: 10em;
  word-wrap: break-word;
}

.removeOligo .removeOrder  {
  cursor: pointer;
}

.modal-custom {
  width: 1200px;
}

.oligoError {
  font-size: 20px;
  color: red;
}

.oligoWarning {
  font-size: 20px;
  color: yellow;
}

legend[data-toggle="collapse"] {
  cursor: pointer;
}