<!-- Modal for Regions for Target Design-->
<div class="modal fade" id="oligoSequenceModal" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Regular Bases, Inosine</h4>
      </div>
      <div class="modal-body">
        <p>Enter sequences 5′to 3′, upper or lower case. Inosine is ‘ i ’, and may not be in the 3′ position:
5′ggttataccatacciccAGATTTTCTCggaItta3′</p>
      </div>

      <div class="modal-header">
        <h4 class="modal-title">Mixed Bases</h4>
      </div>
      <div class="modal-body">
        <p>The sequence may be entered using IUB codes, or with the bases in brackets, or
          both. There is no extra charge for mixed bases in the 3′ position.
          5′GG(AT)aacccwgg(ag)ggNNCCYGA(GCT)ctta3′</p>
      </div>

      <div class="modal-header">
        <h4 class="modal-title">Phosphorothioate</h4>
      </div>
      <div class="modal-body">
        <p>the linkages to be phosphorothioated should be noted with an asterisk:
          5′G*G*C*C*GGATTTATGGCGAATTAGATT*T*A*T*G3′
          Or, if the entire oligo is to be phosphorothioate, just note this in the modifications.</p>
      </div>

      <div class="modal-header">
        <h4 class="modal-title">5′ or 3′ Modifications</h4>
      </div>
      <div class="modal-body">
        <p>Aminolink, Biotin, Phosphate, etc. You only need to note these in the modifications box.</p>
      </div>

      <div class="modal-header">
        <h4 class="modal-title">Length</h4>
      </div>
      <div class="modal-body">
        <p>We have successfully made oligos up to 300 bases. There is no additional cost for long oligos, but we can't guarantee any oligos over 100 bases. Careful experiment design goes a long way towards avoiding the effect of failure sequences. For example, oligos are made 3′ to 5′ so if the experiment can select for oligos with an intact 5′ end, longer oligos may be used.

          With proper design, if the experiment allows, 100nt oligos may be used unpurified.</p>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default action-button" name="button" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<!-- Modal for Regions for Purity-->
<div class="modal fade" id="oligoPurityModal" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Purity</h4>

      </div>
      <div class="modal-body">
        <p>We offer 4 levels of purity: Standard, OPC, PAGE, and HPLC. Standard oligos are low-salt and suitable for most uses. The exception being labeling with T4PNK. For which we recommend resuspending the oligo in water and drying down once before use.

We recommend HPLC purification for labelled oligos. For dual-labeled oligos, HPLC is required. Please consult our chart.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default action-button" name="button" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<!-- Modal for Regions for Scale -->
<div class="modal fade" id="oligoScaleModal" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Scale</h4>

      </div>
      <div class="modal-body">
        <p>Oligos may be ordered at 50 nm, 200 nm, or 1 µm scale. Alternately, arrangements can be made for a specific yield, if, for example you require a specific number of milligrams or OD units of primer.

The scale of synthesis refers to the amount of material on the synthesis column.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default action-button" name="button" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
