<% include ../header %>
<!-- multistep form -->
<% include ./rzmodals %>
<div class="container" id="rzDesign">
<form id="msform">
  <!-- progressbar -->
  <ul id="progressbar">
    <li class="active">Sequence Selection</li>
    <li>Design Options</li>
    <li>Design Review</li>
    <li>Design In Progress</li>
  </ul>


  <!-- Step 1: Sequence Selection -->
  <fieldset id="fsSeqSel" style="margin-bottom:40px;">
    <div class="row">
      <h2 class="fs-title">Select the sequence</h2>
      <h3 class="fs-subtitle">The sequence you want to cleave</h3>
    </div>

    <div class="row">
      <div class="container">


      <div class="col-lg-5" style="margin-bottom:15px;">
        <p class="substep-description">Search for sequence number.<br/>You may also find your sequence <a target="_blank" href="http://www.ncbi.nlm.nih.gov/genbank/">here</a></p>
        <input id="accession" placeholder="(example: M73307)" value="M73307"/>
        <button id="submit_ACN" class="btn" type="button">Search</button>
        <div id="accession_alert" class="alert invisible" style="margin-top:20px;"></div>
      </div>
      <div class="col-lg-2">
          <div class="bar-separator span2"><span class="emp">Or</div>
      </div>
      <div class="col-lg-5">
        <div class="span5 tile" id="drop">
          <p class="substep-description">Select a file with your sequence to upload.<br/> (TXT or FASTA format)</p>
          <button class="btn" id="selectFileButton" onclick="$('#selectFileInput').click()">
      Select File
          </button>
          <input type="file" style="visibility:hidden;" id="selectFileInput">
        </div>
      </div>

      </div>
      <div id="sequence-wrap">
        <div id="sequence_alert" class="alert alert-error invisible"></div>
        <textarea id="sequence-display" maxlength="3000" class="input-block-level" rows="10" placeholder="Paste your sequence here..."></textarea>
        <div id="sequence_alert" class="alert invisible"></div>
      </div>

      <div class="form-group">
        <label for="rz-select">Select Ribozyme</label>
        <select class="form-control" id="rz-select">
          <option value="hhrz" selected="selected">Hammerhead Ribozyme</option>
          <option value="ylrz">YL Ribozyme</option>
          <option value="pistol">Pistol Ribozyme</option>
          <option value="hdv">SOFA-HDV Ribozyme</option>

        </select>
      </div>

    </div>
    <input type="button" name="next" class="btn btn-primary btn-large stepNext  disabled action-button" value="Next" id="submit1">
  </fieldset>


  <!-- Step 2: Design Options -->

  <fieldset id="fsDesignOption" style="margin-bottom:40px;">
    <h2 class="fs-title">Design Options</h2>
    <h3 class="fs-subtitle">Please select the options that will be applied during the design of the ribozyme</h3>
    <div class="container" id="stepTwoDiv">
      <div id="designAlert" class="alert alert-danger invisible"></div>

      <div class="collapse-container">
      <legend data-toggle="collapse" data-target=".regionOption" align="left"><span class="rtdDrop glyphicon glyphicon-arrow-right"></span>  Regions for Target Design </legend>
      <i class="glyphicon glyphicon-question-sign pull-right" data-toggle="modal" data-target="#regionTargetModal"></i>
      </div>

      <ul class="collapse regionOption divCollapse">
          <li><input type="checkbox" name="region" value="5"> 5'UTR</li>
          <li><input type="checkbox" name="region" value="ORF" checked="true"> Open Reading Frame (ORF)</li>
          <li><input type="checkbox" name="region" value="3"> 3'UTR</li>
      </ul>



      <div class="collapse-container">

      <legend data-toggle="collapse" data-target=".targetenvOption" align="left"><span class="teDrop glyphicon glyphicon-arrow-right"></span>  Target Environment *</legend><i class="glyphicon glyphicon-question-sign pull-right" data-toggle="modal" data-target="#targetEnvironmentModal"></i>
      </div>

      <ul class="collapse in targetenvOption divCollapse">
        <li><input type="radio" name="env" value="vitro" id="vitroRadio"> In-vitro</li>
        <li><input type="radio" name="env" value="vivo" id="vivoRadio"> In-vivo </li>
        <li>
          <div class="form-group">
            <select class="form-control" id="envVivo" name="envVivo" disabled="true">
            <option value="mouse (taxid:10090)" selected="selected">Mouse</option>
            <option value="rat (taxid:10114)">Rat</option>
            <option value="human (taxid:9606)">Human</option>
            <option value="daphnia (taxid:6668)">Daphnia</option>
            <option value="ecoli (taxid:562)">E Coli</option>
            <option value="yeast (taxid:4932)">Yeast</option>
          </select>
          </div></li>
      </ul>

      <div class="collapse-container">
      <legend data-toggle="collapse" data-target=".envpropOption" align="left"><span class="epDrop glyphicon glyphicon-arrow-right"></span>  Environment Properties *</legend><i class="glyphicon glyphicon-question-sign pull-right" data-toggle="modal" data-target="#envPropertyModal"></i>
      </div>

      <ul class="envpropOption collapse divCollapse">
        <li>
          <label for="temperature" style="margin-right:60px;">Temperature *</label>
          <input type="number" name="temperature" value="37" min="0" step="0.1"  style="width:80px; margin-left:-10px;" required> &#8451
        </li>
        <li>
          <label for="naC" style="margin-right:55px; margin-left:15px;">Na&#8314 Concentration *</label>
          <input type="number" name="naC" value="150" min="0" step="0.1" style="width:80px; margin-left:-12px;" required> mM
        </li>
        <li>
          <label for="mgC" style="margin-right:10px;">Mg<sup>2</sup>&#8314 Concentration</label>
          <input type="number" name="mgC" value="1" min="0" step="0.1" style="width:80px;"> mM
        </li>
        <li>
          <label for="oligoC" style="margin-right:15px;">Oligomer Concentration</label>
          <input type="number" name="oligoC" value="200" min="0" step="0.1" style="width:80px;"> nM
        </li>
      </ul>


      <!-- Option cannot be implemented as Dr.Kharma requested. -->
      <!-- has to find a way in the future -->
      <div class="collapse-container">
      <legend data-toggle="collapse" data-target=".cutsiteOption" align="left"><span class="pcDrop glyphicon glyphicon-arrow-right"></span>  Potential Cut-sites</legend><i class="glyphicon glyphicon-question-sign pull-right" data-toggle="modal" data-target="#potentialCutSitesModal"></i>
      </div>

      <div class="cutsiteOption collapse divCollapse">
        <div class="form-group" align="center">

          <!--<label for="cutsites">Preferred Cut-Sites</label>-->
          <select class="form-control" name="cutsites" multiple="multiple"  style="width:30%;">
            <option selected="selected" value="GUC">GUC</option>
            <option value="CUC">CUC</option>
 	          <option value="AUC">AUC</option>
 	          <option value="UUC">UUC</option>
 	          <option value="AUA">AUA</option>
 	          <option value="UUC">UUA</option>
 	          <option value="GUA">GUA</option>
 	          <option value="CUA">CUA</option>
 	          <option value="GUU">GUU</option>
 	          <option value="CUU">CUU</option>
 	          <option value="AUU">AUU</option>
 	          <option value="UUU">UUU</option>
          </select>

        </div>
      </div>

      <div class="collapse-container">
      <legend data-toggle="collapse" data-target=".shapeOption" align="left"><span class="rsDrop glyphicon glyphicon-arrow-right"></span>  Ribozyme Shape</legend><i class="glyphicon glyphicon-question-sign pull-right" data-toggle="modal" data-target="#rzShapeModal"></i>
      </div>
      <ul class="shapeOption collapse divCollapse">
        <li><input type="radio" name="foldShape" value="Basic" required="true" checked="checked">Minimal (before 2003)</li>
        <li><input type="radio" name="foldShape" value="Wishbone" required="true">Wishbone (discovered in 2003)</li>
      </ul>

      <div class="collapse-container">
      <legend data-toggle="collapse" data-target=".armsOption" align="left"><span class="alDrop glyphicon glyphicon-arrow-right"></span>  Advanced Options - Arms Length</legend><i class="glyphicon glyphicon-question-sign pull-right" data-toggle="modal" data-target="#armsLengthModal"></i>
      </div>

      <div class="armsOption collapse in divCollapse">
        <li>
        <label for="left_arm_min">Helix I minimum Length</label>
        <input type="number" name="left_arm_min" value="5" style="width:80px; margin-left:15px;" id="laMin"> nucleotides
        </li>

        <li>
        <label for="left_arm_max">Helix I maximum Length</label>
        <input type="number" name="left_arm_max" value="5" style="width:80px; margin-left:15px;" id="laMax"> nucleotides
        </li>

        <li>
        <label for="right_arm_min">Helix III minimum Length</label>
        <input type="number" name="right_arm_min" value="5" style="width:80px; margin-left:5px;" id="raMin"> nucleotides
        </li>

        <li>
        <label for="right_arm_max">Helix III maximum Length</label>
        <input type="number" name="right_arm_max" value="5" style="width:80px; margin-left:8px;" id="raMax"> nucleotides
        </li>
      </div>

      <div class="collapse-container">
      <legend data-toggle="collapse" data-target=".promoOption" align="left"><span class="promoDrop glyphicon glyphicon-arrow-right"></span>  Promoter</legend><i class="glyphicon glyphicon-question-sign pull-right" data-toggle="modal" data-target="#promoterModal"></i>
      </div>

      <div class="promoOption collapse divCollapse">
        <li><input type="radio" name="promo" value="append" required="true" id="append_promo"> Append</li>
        <li><input type="radio" name="promo" value="notappend" required="true" id="not_append_promo" checked="true"> Not Append </li>
        <li>
          <div class="form-group">
            <select class="form-control" id="promoList" name="promoList" disabled="true">
            <option value="T7" selected="selected">T7</option>
            <option value="CMV">CMV</option>
            <option value="Others">Others</option>
            </select>
          </div></li>

      </div>
      <div id="promosequence-wrap">
        <div id="promosequence_alert" class="alert alert-error invisible"></div>
        <textarea id="promosequence-display" maxlength="3000" class="input-block-level invisible" rows="5" placeholder="Paste your promoter sequence (5' -> 3')" style="width:80%;" ></textarea>
        <div id="sequence_alert" class="alert invisible"></div>
      </div>


      <div class="collapse-container">
      <legend data-toggle="collapse" data-target=".specOption" align="left"><span class="speDrop glyphicon glyphicon-arrow-right"></span>  Specificity</legend><i class="glyphicon glyphicon-question-sign pull-right" data-toggle="modal" data-target="#specificityModal"></i>
      </div>

      <ul class="specOption collapse divCollapse">
        <li style="margin-left:-100px;">
          <input type="radio" name="specificity" value="cleavage" id="cleavageRadio" required> Cleavage Only
        </li>
        <li>
          <input type="radio" name="specificity" value="hybrid" id="hybridRadio" required> Cleavage and Hybridization
        </li>
        <li>
          <input type="radio" name="specificity" value="notcomputed" id="notcomputedRadio" required> Not Computed
        </li>
      </ul>
    </div>

    <div id="designAlert2" class="alert alert-danger invisible"></div>

    <input type="button" name="previous" class="previous action-button" value="Previous" />
    <input type="button" name="next" class="stepNext action-button disabled" value="Next" id="stepTwoFinish"/>
  </fieldset>

  <!-- Setp 3: Design Review -->
  <fieldset id="fsDesignReview">
    <h2 class="fs-title">Design Review</h2>
    <h3 class="fs-subtitle">Here are the design options that will be applied to the sequence.</h3>

    <div class="container summary">
      <div id="submitAlert" class="alert alert-danger invisible"></div>
      <div>
        <table class="table table-hover table-condensed">
          <thead>
            <th>Design Option</th>
            <th>Value</th>
          </thead>
          <tbody>
            <tr class="invisible" id="accessionNumberRow">
              <td>Accession Number</td>
              <td id="accessionNumber"></td>
            </tr>

            <tr>
              <td>Sequence Length</td>
              <td id="seqLength"></td>
            </tr>

            <tr id="targetRegionRow">
              <td>Target Region</td>
              <td id="targetRegion"></td>
            </tr>

            <tr>
              <td>Target Environment</td>
              <td id="targetEnv"></td>
            </tr>

            <tr id="vivoEnvRow" class="invisible">
              <td>In-vivo Environment</td>
              <td id="vivoEnv"></td>
            </tr>

            <tr>
              <td>Temperature</td>
              <td id="tempEnv"></td>
            </tr>

            <tr>
              <td>Na&#8314; Concentration</td>
              <td id="naEnv"></td>
            </tr>

            <tr>
              <td>Mg<sup>2</sup>&#8314; Concentration</td>
              <td id="mgEnv"></td>
            </tr>

            <tr>
              <td>Oligomer Concentration</td>
              <td id="oligoEnv"></td>
            </tr>

            <tr>
              <td>Cut-sites</td>
              <td id="cutsites"></td>
            </tr>

            <tr>
              <td>Fold Shape</td>
              <td id="foldShape"></td>
            </tr>

            <tr>
              <td>Helix I Length</td>
              <td id="leftArm"></td>
            </tr>

            <tr>
              <td>Helix III Length</td>
              <td id="rightArm"></td>
            </tr>

            <tr>
              <td>Use Promoter</td>
              <td id="promoter"></td>
            </tr>

            <tr>
              <td>Specificity</td>
              <td id="specificity"></td>
            </tr>

          </tbody>
        </table>
      </div>
      <div id="submitAlert2" class="alert alert-danger invisible"></div>
    </div>

    <div>
      <div class="organization-input">
        <h4>User Agreement</h4>
        <div class="alert alert-error invisible" id="organization-alert"></div>

          <p>
            We need a bit more information before submitting the request
          </p>
          <label for="organization">Organization:</label>
          <input type="text" name="organization" id="organization" required placeholder="(example: Concordia University)">

          <label for="email">Email:</label>
          <input type="email" name="email" id="email" placeholder="(example: me@example.org)">
          <p>
            By clocking on the "Submit" Button, I confirm that I have read and agreed to the terms of the <a target="_blank" href="../license">license.</a>
          </p>

      </div>
    </div>

    <input type="button" name="previous" class="previous action-button" value="Previous" />
    <input type="button" name="next" class="stepNext action-button" value="Submit" />
  </fieldset>

  <!-- Step 4: In Process -->
  <fieldset id="fsProcessing">
    <h2 class="fs-title">Processing</h2>
    <h3 class="fs-subtitle">Your request has been submitted. You can wait for the design process to finish, or enter your email and we will send you a link once it is completed.</h3>

    <input type="submit" name="submit" class="submit action-button" value="Close" />
  </fieldset>
</form>

</div>

<% include ../footer %>
