<!-- Gene Silencing -->
<div class="col-lg-4">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4><i class="glyphicon glyphicon-scissors"></i>  Gene Silencing - CRISPR Cas9</h4>
    </div>
    <div class="panel-body">
      <p>
        CRISPR Cas9 will help you to get what you want
      </p>
      <a href="/crispr" class="btn btn-default pull-right" id="gene_silencing">Gene Silencing >></a>
    </div>
  </div>
</div>
<div class="col-lg-4">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4><i class="glyphicon glyphicon-scissors"></i>  Gene Silencing - Ribozyme</h4>
    </div>
    <div class="panel-body">
      <p>
        Ribozyme will help you to get what you want
      </p><br>
      <a href="/ribozyme" class="btn btn-default pull-right" id="gene_silencing">Gene Silencing >></a>
    </div>
  </div>
</div>
</div>
</div>
