<!-- Gene Silencing -->
<div class="col-lg-5">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4><i class="glyphicon glyphicon-scissors"></i>  Gene Silencing</h4>
    </div>
    <div class="panel-body">
      <p>
        CRISPR Cas9 and Ribozyme will help you to get what you want
      </p>
      <a href="/step0" class="btn btn-default pull-right" id="gene_silencing">Gene Silencing >></a>
    </div>
  </div>
</div>
</div>
