<!-- Main Content -->
<div class="container">
  <!-- Item Demonstration Section -->
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header"> Welcome to BioCorp</h1>
    </div>

<!-- Oligo Synthesis -->
<div class="col-lg-5">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4><i class="glyphicon glyphicon-cog"></i> Oligo Synthesis</h4>
    </div>
    <div class="panel-body">
      <p>
        Have the sequence you want, We build it for you.
      </p>
      <a href="#" class="btn btn-default pull-right">  Design my own Oligo >></a>
    </div>
  </div>
</div>
