<% include ../header %>
<div class="container">
  <div class="jumbotron">
    <h3>Gene Silencing - Select the service</h3>
    <hr>
    <div class="row">
      <div class="col-lg-5">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>CRISPR Cas9</h4>
          </div>

          <div class="panel-body">
            <p style="font-size: 100%;">
                This is CRISPR Cas9
            </p>

            <a href="/ccas9" class="btn btn-default pull-right">Design with CRISPR Cas9 >></a>
          </div>


        </div>

      </div>

      <div class="col-lg-2">

      </div>

      <div class="col-lg-5">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>Ribozyme</h4>
          </div>

          <div class="panel-body">
            <p style="font-size: 100%;">
              This is Ribozyme
            </p>
            <a href="/ribozyme" class="btn btn-default pull-right">Design with Ribozyme >></a>
          </div>


        </div>
      </div>

    </div>
    <p><a class="btn btn-primary btn-lg pull-right" href="#" role="button">Learn more</a></p>
  </div>
</div>

<% include ../footer %>
