<% include header %>
<div class="container" id="oligoOrder">
<div id="oligoForm" style="margin:10% 0 5% 0%;">
    <h2 class="fs-title"><%=texts.about_us%></h2>
      <div class="span3 copyright">
        <p><%=texts.copyright%><br>
          4894 Sources, #43514<br>
          DDO, Quebec<br>
          Canada, H8Y 3C7</p>
        <p><%=texts.telephone%>: (514) 994-7265, Fax: (514) 221-2157</a></p>
      </div>
    <input type="button" id="closeConfirmation" style="width:auto;" class="submit action-button" value="<%=texts.home%>" />
</div>
</div>
<% include footer %>