<!-- Footer -->
</div>
<footer>
<div class="container">
    <div class="row">
       <div class="col-lg-12 text-center">
        <p id="footerText" ><a href="/aboutUs"><%=texts.about_us%></a></p>
        <p>&copy; <%=texts.copyright%></p>
       </div>
      <div class="text-center">
       </div>
    </div>
</div>
</footer>

</body>

<script src="../javascripts/progress.js"></script>
<script src="../javascripts/client_utils.js"></script>
<script src="../javascripts/model.js"></script>

<script src="../javascripts/client.js"></script>




</html>
