<% include header %>
<% include ./indexPage/indexCarousel %>

<% include ./indexPage/indexOligo %>

  <!-- Empty Space Grid
  <div class="col-lg-2"></div>-->

<% include ./indexPage/indexSilencing %>

<% include footer %>
