<% include header %>

<div class="container">
  <div class="jumbotron">
    <h1>Biocorp License Information</h1>
  </div>

  <div class="license-details">
    <div class="license-details-head">
      <p>
        Biocorp is available through both a <a href="/index">Web Application</a> and a <a href="#">Web API</a>, at no charge to the scientific community for non-commercial applications. If you are an academic researcher, please read and follow the terms posted below.
      </p>

      <p>
        In research publications, the users of Sfold are requested to cite the <a href="#">paper</a> describing the algorithms of the program, in addition to including a link to the <a href="/index">web site</a>.
      </p>

      <p>
        The software used by Biocorp is GPL-licensed. You can find it on <a href="#">Github</a>
      </p>
    </div>
    <hr>
    <div class="license-contents">
      <p>
        This agreement is made by and between Dr. Nawwaf Kharma, hereinafter referred to as "Licensor" and a user of Biocorp, hereinafter referred to as "Licensee".
      </p>
      <p>
        By using the Biocorp service, you acknowledge that you have read and understood the terms and conditions of this License and agree to abide by all of the terms and conditions set forth herein.
      </p>
      <ol>
        <li>An academic user for Biocorp reveives a non-exclusive right to use the program provided by the Licensor through the Web Application and Web API to the terms and conditions of this license</li>

        <li>The Licensee agrees to restrict the use of Biocorp to academic non-commercial use only. In exchange, the Licensee is allowed to copy, distribute and/or modify Biocorp in any fashion. Biocorp's source code is GPL-licensed and available on <a href="#">Github</a>.</li>

        <li>Sole title and ownership rights in Biocorp shall remain with the Licensor.</li>

        <li>The Licensee acknowledges the Licensor's proprietary rights in Biocorp and agrees to reproduce all copyright notices supplied by the Licensor on all references to Biocorp</li>

        <li>The Licensee will acknowledge the Licensor on any publication of scientific results based in part on use of the program and cite the articles for the algorithms of the program, as described in the <a href="#">paper</a>.</li>
      </ol>
    </div>
    <hr>

    <h4>Disclaimer of warranty</h4>
    <p>THE PROGRAM IS PROVIDED "AS IS" WITHOUT WARRANTY OF ANY KIND,
    EITHER EXPRESS OR IMPLIED, INCLUDING WITHOUT LIMITATION IMPLIED
    WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR
    PURPOSE. LICENSOR DOES NOT WARRANT THAT THE FUNCTIONS
    CONTAINED IN THE PROGRAM WILL MEET LICENSEE'S REQUIREMENTS OR
    THAT OPERATION WILL BE UNINTERRUPTED OR ERROR FREE.</p>

    <p>The Licensee fully indemnifies the Licensor so that the Licensor shall not be liable for special, indirect, incidental, or consequential damages, even if it has been or is hereafter advised of the possibility of such damages, from the Licensee's use of, or inability to use Biocorp.</p>

    <p>The Licensee agrees if any provision of this Agreement is invalid, illegal or unenforceable under any applicable statute or rule of law, it is to that extent to be deemed omitted. The remainder of the Agreement will be valid and enforceable to the maximum extent possible. The waiver or failure of the Licensor to exercise in any respect any right provided for in this Agreement shall not be deemed a waiver of any further right under this Agreement.</p>

    <br><br><br><br><br>
  </div>
</div>
<% include footer %>
