<% include header %>
<div class="container" id="oligoOrder">
<div id="oligoForm">

  <!-- Step 4: Confirmation -->
  <fieldset id="fsOrderConfirmation">
    <h2 class="fs-title"><%=texts.order_confirmation%></h2>
    <h3 class="fs-subtitle"><%=texts.your_request%></h3>

    <input type="button" id="closeConfirmation" class="submit action-button" value="<%=texts.close%>" />
  </fieldset>
</div>
</div>
<% include footer %>