<% include ./header %>
<div class="container" id="registration">
    <form id="oligoForm" method="POST" action="/signup">
        <% include ./designSteps/personalInfo %>
    </form>
</div>
<% include footer %>
